*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 0 3.5rem;
}

html body{
    font-family: 'nunito';
    background-color: #000;
}

a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

ul li{
    list-style: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-6{
    width: 50%
}

.col-4{
    width: 33.33%
}

.d-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.justify-content-between{
    justify-content: space-between;
}

.align-item-center{
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.w-100{
    width: 100%;
}

.flex-column{
    flex-direction: column;
}

img{
    display: block;
    width: 100%;
}


/* header section start */
header{
    background-color: #00050d;
    color: #fff;
    padding: .5rem 2.5rem;
    position: sticky;
    top: 0;
}

header .nav{
    width: 100%;
}

header .logo img{
    width: 80px;
    padding: 10px 10px;
}

header nav ul li a{
    margin: 0 .5rem;
    padding: .5rem 1rem;
}

header nav ul li a:hover{
    background-color: #fff;
    color: #00050d;
    border-radius: 5px;
    transition: all 0.2s linear;
}

header nav ul li:nth-child(4) a{
    position: relative;
}

header .icons ul li:nth-child(4) a::after{
    content: "";
    width: 3px;
    height: 70%;
    background-color: #949494;
    position: absolute;
    top: 50%;
    right: -11px;
    transform: translateY(-12px);
}

header nav ul li:last-child a{
    display: flex;
    align-items: center;
}

header nav ul li:last-child a svg{
    width: 24px;
    margin-left: 10px;
    fill: #fff;
}


header nav ul li:first-child a svg{
    width: 22px;
    height: 22px;
    fill: #fff;
}

header nav ul li:hover a svg{
    fill: #00050d;
}
.content nav ul li:nth-child(2) a svg{
    width: 24px;
    height: 18px;
    fill: #fff;
}


.content nav ul li:nth-child(3) a svg{
    width: 24px;
    height: 24px;
    fill: white;
}

.content nav ul li:hover a svg{
    fill: #00050d;
}

.content nav ul li a img{
    width: 28px;
    height: 28px;
}

.content nav ul li button{
    padding: .5rem 1.5rem;
    background-color: #3064b8;
    color: #fff;
    font-size: 18px;
    border: 0;
    border-radius: 7px;
}

.content nav ul li button:hover{
    background-color: #3a77da;
    box-shadow: 0 0 7px 0 #6591d7;
}

/* header section end */

/* main section starts */

.container{
    max-width: 1920px;
    margin: 1rem auto;
    padding: 0 51px;
}

.hero{
    height: 600px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background: url(../images/background\ image.jpg);
    background-color: #00050d;
    color: #fff;
    
}

.hero .hero-title{
    font-size: 38px;
    margin: 1.5rem 0;
    font-weight: 700;
     padding: 10px 0;
}

.hero p{
    font-size: 15px;
    font-weight: 900px;
    margin: 1.5rem 0;
}

.hero a{
    border-radius: 10px;
    width: fit-content;
    background-color: white;
    color: black;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 14px;
    font-weight: 700;
    
}

.hero a:hover{
    color: #949494;
    scale: 1.1;
}

.movie{
    height: 600px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background: url(../images/image\ 2);
    background-color: #00050d;
    color: #fff;
   
}

.movie .movie-title{
    font-size: 38px;
    margin: 1.5rem 0;
    font-weight: 700;
     padding: 10px 0;
}

.movie p{
    font-size: 15px;
    font-weight: 900px;
    margin: 1.5rem 0;
}

.movie a{
    border-radius: 10px;
    width: fit-content;
    background-color: white;
    color: black;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 14px;
    font-weight: 700;
}

.movie a:hover{
    color: #949494;
    scale: 1.1;
}
/* main section ends */

/* movie section end */

/* favorite-subscriptions section start */
.favorite-subscriptions {
    padding: 4rem 2rem;
}

.favorite-subscriptions-content {
    padding-right: 5px;
}

.favorite-subscriptions h1 {
    color: #fff;
    padding-bottom: 2rem;
    font-size: 48px;
    font-weight: 700;
}

.favorite-subscriptions p {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.favorite-subscriptions a {
    margin: .5rem;
}

.favorite-subscriptions a img {
    border-radius: 12px;
}

.favorite-subscriptions a:hover {
    /* scale: 1.03; */
    border-radius: 12px;
    box-shadow: 0 0 7px 3px #63777fde;
}

/* favorite-subscriptions section end */


/* prime-video section start */
.prime-video {
    background-color: #222222;
    padding: 2rem;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.prime-video img {
    width: 100px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.prime-video a {
    color: #79b8f3;
    margin: .5rem;
}

.prime-video a:hover {
    color: #90dffe;
}

.prime-video p {
    color: #8197a4;
    margin: .5rem;
}

/* prime-video section end */